.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-float-left{
  text-align: left;
}
.padding-left-30{
  padding-left: 30% !important;
}
.padding-right-50{
  padding-right: 50%;
}
.navbar{
  background:linear-gradient(30deg, #72be44, #06417d) !important;
}
.appAlignment{
  padding: 1% 5%;
}